img{
    width: 100%;
}
.heading h1{
    text-align: center;
}
.img{
    width: 100%;
}
form{
    margin-left: 450px;
    margin-top: 10px;
    display: flex;
    height: 40px;
    width: 400px;
}
form img{
    margin-left: 10px;
    height: 40px;
}
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form h1{
    text-align: center;
}
.mbtn{
    display: flex;
    justify-content: center;
}
.mbtn a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px;
}
.mbtn a:hover{
    background-color: rgb(226, 226, 226);
}
.footer{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
.navbar-collapse{
    display: flex;
    justify-content: flex-end;
}